In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
with open('streamlit_app/car_rf.pkl',"rb") as f:
    model = pickle.load(f)

In [3]:
type(model)

sklearn.ensemble._forest.RandomForestRegressor

In [20]:
df_1 = pd.read_csv('data/df_model.csv')
df_1.head()

,price,year,manufacturer,condition,cylinders,fuel,odometer,title_status,transmission,drive,size,type,paint_color,state
0,15000.0,2013.0,ford,excellent,6 cylinders,gas,128000.0,clean,automatic,rwd,full-size,truck,black,al
1,4500.0,1992.0,jeep,excellent,6 cylinders,gas,192000.0,clean,automatic,4wd,full-size,sedan,white,al
2,14000.0,2012.0,honda,excellent,6 cylinders,gas,95000.0,clean,automatic,fwd,full-size,mini-van,silver,al
3,15000.0,2017.0,dodge,excellent,8 cylinders,gas,90000.0,rebuilt,automatic,rwd,mid-size,sedan,grey,al
4,3000.0,2004.0,chrysler,good,6 cylinders,gas,176144.0,clean,automatic,fwd,mid-size,mini-van,silver,al

In [21]:
# model.predict([2020,'nissan','good','6 cylinders','gas','18000','clean','automatic',
                # 'rwd','full-size','sedan','blue','al'])

In [22]:
df_1.iloc[0,:]

price               15000.0
year                 2013.0
manufacturer           ford
condition         excellent
cylinders       6 cylinders
fuel                    gas
odometer           128000.0
title_status          clean
transmission      automatic
drive                   rwd
size              full-size
type                  truck
paint_color           black
state                    al
Name: 0, dtype: object

In [9]:
model.predict(df.iloc[0,:])

/Users/trangkhong/anaconda3/lib/python3.11/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

ValueError: could not convert string to float: 'ford'

In [12]:
df = pd.read_csv('data/df_dummy.csv')
df.head()

,price,year,odometer,manufacturer_alfa-romeo,manufacturer_aston-martin,manufacturer_audi,manufacturer_bmw,manufacturer_buick,manufacturer_cadillac,manufacturer_chevrolet,...,state_sd,state_tn,state_tx,state_ut,state_va,state_vt,state_wa,state_wi,state_wv,state_wy
0,15000.0,2013.0,128000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,4500.0,1992.0,192000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,14000.0,2012.0,95000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,15000.0,2017.0,90000.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,3000.0,2004.0,176144.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
df_feature = df.drop(columns='price')

In [18]:
model.predict([df_feature.iloc[0,:]])

/Users/trangkhong/anaconda3/lib/python3.11/site-packages/sklearn/base.py:464: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  warnings.warn(

array([15908.32])

In [19]:
df_feature.iloc[0,:]

year                           2013.0
odometer                     128000.0
manufacturer_alfa-romeo           0.0
manufacturer_aston-martin         0.0
manufacturer_audi                 0.0
                               ...
state_vt                          0.0
state_wa                          0.0
state_wi                          0.0
state_wv                          0.0
state_wy                          0.0
Name: 0, Length: 143, dtype: float64